<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <h1 style="text-align: center;">
      <%= heading %>
    </h1>

    <% if (locals.post) { %>
      <form id="editForm" method="post" action="/api/posts/<%=post.id%>">
        <input type="text" name="title" value="<%=post.title %>" >
        <textarea name="description" rows="10"><%=post.description %></textarea>
        <input type="text" name="genre" value="<%=post.genre %>">
        <input type="number" name="rating" value="<%=post.rating %>">
        <input type="text" name="watched" value="<%=post.watched %>">
        <input type="text" name="whatILike" value="<%=post.whatILike %>" >
        <button class="full-width" type="submit" >
          <%= submit %>
        </button>
      </form>
      <% } else {%>
        <form id="newPostForm" method="post" action="/api/posts">
          <input type="text" name="title" required placeholder= "Show name">
          <textarea name="description" rows="10" required placeholder= "Show description" ></textarea>
          <input type="text" name="genre" required placeholder="genre">
          <input type="number" name="rating" required placeholder="rating out of 10">
          <input type="text" name="watched" required placeholder="Have you watched the show: yes or no">
          <input type="text" name="whatILike"  placeholder="If yes, what do you like about this show?">
            <!-- Image upload field -->
            <input type="file" name="image" accept="image/*">
            
 
          <button class="full-width" type="submit">
            <%= submit %>
          </button>
        </form>
        <% } %>

  </div>
</body>

</html>
